<ion-view view-title="Settings">
  <ion-content class="padding card-padding" ng-controller="AboutCtrl">
    <div class="card">
      <div class="item item-divider">
        About of fisBowls
      </div>
      <div class="item item-text-wrap">
          FishBowls is free thanks to Kickstarter and our generous backers.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Contacts
      </div>
      <div class="list">
        <div class="item item-text-wrap">
          WebSite: <a href="https://www.highestfunction.org/">www.highestfunction.org</a>
        </div>
        <div class="item item-text-wrap">
          Email: <a href="">info@highestfunction.org</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Special Thanks
      </div>
      <div class="item item-text-wrap">
          Diane Devaney, Judy Devaney, Julie Ryan, Mike Dominick, Stephen Elliott and Susan Geyer
      </div>
    </div>
  </ion-content>
</ion-view>
