<ion-view view-title="Edit Project">
  <ion-content ng-controller="EditCtrl">
      <div class="list">
        <div class="item item-input">
    				<input type="text" ng-model="project.title" placeholder="Project Name">
        </div>
    				<ion-checkbox ng-model="project.useOnce">Delete after use</ion-checkbox>
            <div class="row">
              <button class="button button-small col text-center button-positive" ng-click="toggleReordering()">
                Reorder
              </button>
          </div>
        <div class="item">
          <ion-list show-reorder="reordering">

            <ion-item class=" item-icon-right" ng-repeat="x in project.tasks track by $index">
              <div class="row" style="padding: 0">
                <div class="col" style="padding: 0">
                  <p>{{x.title}}</p>
                </div>
                <div class="col" style="padding: 0">
                  <p>{{x.time}} Min</p>
                </div>
              </div>
              <i class="icon ion-close" style="font-size: 100%" ng-click="removeTask($index)"></i>
              <ion-reorder-button class="ion-drag" on-reorder="move(x, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

            <div class="item card">
                  <input type="text" ng-model="addMe" placeholder="Task Description">
                  <div class="item range range-positive">
                      Expected Time:<input type="range" ng-model="time" name="volume" min="0" max="60" value="0">{{time}} Min
                  </div>
                  <button class="button button-block button-positive" ng-click="addTask()">
                    Add
                  </button>
            </div>
          </ion-list>
        </div>
      </div>
      <button class="button button-block button-positive" ng-click="save();addTask();">
        Save All
      </button>
  </ion-content>
</ion-view>
