<ion-view view-title="{{'add_project.edit_project' | translate}}">
  <ion-content ng-controller="EditCtrl">
      <div class="list">
        <div class="item item-input">
    				<input type="text" ng-model="project.title" placeholder="{{'add_project.project_name' | translate}}">
        </div>
    				<ion-checkbox class="item" ng-model="project.useOnce">{{"add_project.delete_after" | translate}}</ion-checkbox>
            <ion-checkbox class="item" ng-model="project.ordered">{{"add_project.play_in_order" | translate}}</ion-checkbox>

        <div class="item">
          <ion-list show-reorder="reordering">
            <div class="item item-icon-right item-divider item-dark">
              {{"add_project.micro_task" | translate}}
              <i class="icon ion-drag" ng-click="toggleReordering()"></i>
            </div>
            <ion-item class="item" ng-repeat="x in project.tasks track by $index" on-hold="toggleReordering()">
              <div class="row" style="padding: 0">
                <div class="col col-75" style="padding: 0">
                  <p ng-class="x.editing">{{x.title}}</p>
                </div>
                <div class="col col-20" style="padding: 0">
                  <p>{{x.time}} Min</p>
                </div>
                <div class="col" style="padding: 0">
                  <i class="icon ion-compose" style="font-size: 100%" ng-click="editTask(x)"></i>
                </div>
                <div class="col item-icon-right" style="padding: 0">
                  <i class="icon ion-close" style="font-size: 100%" ng-click="removeTask($index)"></i>
                </div>
              </div>
              <ion-reorder-button class="ion-drag" on-reorder="move(x, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

            <div class="item card">
                  <input type="text" ng-model="addMe" placeholder="{{'add_project.task_description' | translate}}">
                  <div class="item range range-positive">
                      {{"add_project.time" | translate}}:<input type="range" ng-model="time" name="volume" min="0" max="{{settings.maxSlider}}" value="0">{{time}} Min
                  </div>
                  <button class="button button-block button-positive" ng-click="addTask()">
                    {{boxButtonText}}
                  </button>
            </div>
          </ion-list>
        </div>
      </div>
      <button class="button button-block button-positive" ng-click="save();addTask();">
        {{"add_project.save_all" | translate}}
      </button>
  </ion-content>
</ion-view>
