<ion-view view-title="fishBowls">
  <ion-content class="padding" ng-controller="HomeCtrl" scroll="false">
    <br>
      <button class="button button-block button-light card animated bounceInDown" ng-class="clsAnimation" style="padding: 0" on-swipe-left="swipe()" on-swipe-right="swipe()">
          <div class="item item-divider item-dark" style="font-size: 150%">
            {{title}}
          </div>
          <div class="item item-text-wrap item-stable">
            <br><br><br><br><br>
            <p style="font-size: 145%">{{description}}</p>
            <br><br><br><br><br>
          </div>
    </button>
  </ion-content>
</ion-view>
