<ion-view view-title="Projects">
  <ion-nav-buttons side="secondary">
     <a class="button button-clear icon ion-plus" href="#/add"></a>
   </ion-nav-buttons>
  <ion-content ng-controller="ListCtrl">
    <div class="item item-stable" ng-hide="hideCheckboxes" style="padding:3px">
      <a class="button button-positive" ng-click="closeCheckboxes()">Back</a>
      <a class="button button-positive" ng-click="deleteCheckItems();closeCheckboxes();">Delete</a>
      <a class="button button-positive" ng-click="addTodoItems();closeCheckboxes();">Add to Todo</a>
    </div>
    <ion-list>
        <ion-item class="item-icon-right item-remove-animate"
        href="#/edit/{{x.id}}" ng-repeat="x in projects track by x.id | orderBy : 'title'"
        on-hold="showCheckboxes()" ng-hide="hideItem">
            <div class=" row nopadding">
              <h2>{{x.title}}</h2>
            </div>
        </ion-item>
        <ion-checkbox ng-repeat="x in projects | orderBy : 'title' track by x.id" ng-hide="hideCheckboxes" ng-model="x.onTodo">
            <div class="nopadding">
              <h2>{{x.title}}</h2>
            </div>
        </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
