<ion-list>
  <label class="item item-input">
    <input type="text" style="font-size:100%" ng-model="data.addMe" placeholder="{{'add_project.task_description' | translate}}">
  </label>

  <div class="item range range-positive">
      {{"add_project.time" | translate}}:<input type="range" ng-model="data.time" name="volume" min="0" max="{{settings.maxSlider}}" value="addTimer">{{data.time}} Min
  </div>

  <ion-radio ng-model="data.choice" ng-value="'this'">{{"this_project" | translate}}</ion-radio>
  <ion-radio ng-model="data.choice" ng-value="'misc'">{{"miscellaneous" | translate}}</ion-radio>

</ion-list>
